@import '../../theme.scss';

.cnt_footer {    
    display: flex;
    flex: 0 0 auto;
    background: $footer-color;
    color: $on-footer-color;
    padding: $global-padding;
    margin-top: $large-space;
    &__content {
        padding: $medium-space 0;
        align-self: flex-end;
        margin-left: auto;
    }
    &__text {
        margin-left: $medium-space;        
    }
}
