@import '../../../theme.scss';

$like-color: #4CAF50;
$dislike-color: #F44336;

.article {
    margin: 50px;
    background: $surface-color;
    padding: 5px;
    border-radius: $border-radius;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);    
    border: 1px solid #ddd;
    &__header {       
        border: 1px solid #d3d3f5;
        border-top: none;
        border-left: none;
        border-right: none;
        .user {
            &__avatar {
                max-width: 75px;
                max-height: 75px;
                height: 75px;
                width: 75px;
                margin-right: 10px;
            }
            &__login {
                font-size: 30px;
                font-weight: 500;
                vertical-align: bottom;
            }
        }
        .title {
            text-align: center;
        }
    }
    &__body {
        padding:15px;
        border: 1px solid #d3d3f5;
        border-top: none;
        border-left: none;
        border-right: none;
        .description {}
    }
    &__footer {        
        display: flex;
        flex-direction: row;        
        .info {  
            align-self: flex-start; 
            .button {
                cursor: pointer;               
                &__thumbs {
                    margin-right: 5px;
                }
                .thumbs {
                    &-like {
                        color: $like-color;
                    }
                    &-dislike {
                        color: $dislike-color;
                    }
                }
                &__text {
                    font-weight: 600;
                    margin-right: 5px;
                }
                .text {
                    &-like {
                        color: $like-color;
                    }
                    &-dislike {
                        color: $dislike-color;
                    }
                }
            }
        }
        .date {
            align-self: flex-end;
            text-align: right;
            margin: auto 0 auto auto;
            font-weight: 500;
            font-size: 14px;
            &__text {                
                margin-right: 5px;
            }
        }
    }
}