@import '../../../css/theme.scss';
@import '../../../css/mixins.scss';
@import '../../../css/extends.scss';

.user_date {
    @include direct(row);
    &__tx {
        @include direct(column);
        margin: 0 $medium-space;
    }
    &__login {
        margin: 0;
        @include font($large-text-size, $large-text-bold);                                  
    }
}    
    
.article {
    @extend %main-card;
    padding: $medium-space;
    margin-bottom: $large-space;
    &__h {
        @include direct(row);
        width: 100%;
        margin-bottom: $small-space;
        @include font($large-text-size, $large-text-bold); 
        text-align: center;          
    }
    &__t {
        width: 100%;
        word-break: break-word;   
    }  
    &__b {
        @include direct(column);
    }       
    &__info {
        @include direct(row);
    }    
    &__descr {
        width: 100%;
        word-break: break-word; 
        @include font($medium-text-size, $medium-text-bold);       
        font-style: italic;
    }
    &__main {
        word-break: break-word; 
        @include font($medium-text-size, $medium-text-thin);         
    }
}      
  