@import '../../../css/theme.scss';

//#article {    
   .article-card {
        @extend %main-card;
        padding: $medium-space;
        margin-bottom: $large-space;
        header {
            display: flex;
            flex-direction: row;
            font-size: $large-text-size;
            font-weight: $large-text-bold;
            margin-bottom: $small-space;
            text-align: center;  
            width: 100%;
            .title {
                word-break: break-word;  
                width: 100%;
                textarea {
                    width: 100%;
                    text-align: center;
                    border: none;
                }
            }         
        }
        article {

            display: flex;
            flex-direction: column;
            .info {
                display: flex;
                flex-direction: row;               
                .user-info {
                    display: flex;
                    flex-direction: row;
                    .login-date {
                        display: flex;
                        flex-direction: column;
                        margin: 0 $medium-space;
                        .login {
                            font-size: $large-text-size;
                            font-weight: $large-text-bold;
                            margin: 0;
                        }
                        .date {
                            font-size: $small-text-size;                            
                        }
                    }
                }
                .description {
                    word-break: break-word;  
                    font-size: $medium-text-size;
                    font-weight: $medium-text-bold;
                    width: 100%;
                    font-style: italic;
                    textarea {
                        width: 100%;
                        border: none;
                    }
                }
            }
            .main {
                font-size: $medium-text-size;
                font-weight: $medium-text-thin;
                word-break: break-word;  
            }
        }
    }
//}
