@import './theme.scss';
//links
a,
a:visited,
a:hover,
a:active,
a:focus,
.btn-link,
.btn-link:visited,
.btn-link:hover,
.btn-link:active,
.btn-link:focus
{
  text-decoration: none;
  color: inherit;
}

button,
button:visited,
button:hover,
button:active,
button:focus {
  outline: none;
}

//paragraphs
p {
  display: inline;
  color: inherit;
}
//icon
i {
  color: inherit;
}

#root { 
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  background: $background-color;   
}

.login {
  max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin: 0;
}