//links
a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}
//paragraphs
p {
  display: inline;
  color: inherit;
}
//icon
i {
  color: inherit;
}

#root {
  height: 100%;
}
