@import '../../theme.scss';

@mixin setColor($color) {    
    color: $color;
    border-color: $color;
}

.cmp_txt_form_ctrl {
    display: flex;
    flex-direction: column;
    &__label {
        font-size: $medium-text-size;
        font-weight: $medium-text-bold;
        margin: $medium-space 0;
    }
    &__text_block {
        display: flex;
        flex-direction: row; 
        height: $input-height;
        width: inherit;
        background: $surface-color; 
        color: $on-surface-color;  
        border: $border;      
        border-radius: $border-radius; 
    }   
    &__input {
        height: 100%; 
        width: 100%;  
        background: none;
        padding: $small-space;
        margin: 0;
        border: none;
        border-radius: $border-radius; 
    }
    &__feedback {
        font-size: $small-text-size;
        font-weight: $small-text-bold;
        color: $error-color;
        margin: 0;
    }
    &-inval {
        @include setColor($error-color);          
    }
    &-val { 
        @include setColor($success-color);          
    }
}
