@import '../../../css/theme.scss';
@import '../../../css/mixins.scss';
@import '../../../css/extends.scss';

.vote {
    margin-right: $small-space;
    background: none;
    border: none;
    @include font($medium-text-size, $medium-text-bold);
    @extend %clickable;
    &__text {
        margin-left: $small-space;
    }
    &-like {
        @include voteColor($success-color);
    }
    &-dislike {
        @include voteColor($error-color);
    }
}
