@import '../../../theme.scss';

@mixin setColor ($color) {
    color: desaturate($color, 20%);
    &-my { color: $color; }
}

#votes {   
    .vote {
        border: none;
        background: none;  
        margin-right: $small-space;
        font-size: $medium-text-size;
        font-weight: $medium-text-bold;
        cursor: pointer;
        user-select: none;
        &__like {
            @include setColor($success-color);           
        }
        &__dislike {
            @include setColor($error-color);          
        }     
        .text {
            margin-left: $small-space;
        }
    } 
}
