@import '../../css/theme.scss';
@import '../../css/mixins.scss';

.info_block {
    &__msg {
        padding: $small-space;
        @include font($small-text-size, $small-text-bold);
        border-radius: $border-radius;
    }
    &-success {
        background: $success-color;
        color: $on-success-color;
    }
    &-error {
        background: $error-color;
        color: $on-error-color;
    }
}
