@import '../../theme.scss';

@mixin setColor($color, $on-color) {    
    background: $color;
    color: $on-color;
}

.components_info {
    &__info {
        padding: $small-space;
        font-size: $small-text-size;
        font-weight: $small-text-bold;
        border-radius: $border-radius;
    }  
    &-success { 
        @include setColor($success-color, $on-success-color)       
    }
    &-error {
        @include setColor($error-color, $on-error-color)        
    }    
}
