@import '../../../../theme.scss';

#cabinet__new_article {
    @extend %main-card;
    padding: $medium-space;   
    form {
        margin-bottom: $medium-space;
        .body {
            display: flex;
            flex-direction: column;
            .label {
                font-size: $medium-text-size;
                font-weight: $medium-text-bold;
            }
        }
        button {
            @extend %main-button;
        }
    }  
}
