@import '../../../../css/theme.scss';
@import '../../../../css/extends.scss';
@import '../../../../css/mixins.scss';

.new_article {
    @extend %main-card;
    padding: $medium-space;
    &__form {
        margin-bottom: $medium-space;
    }
    &__b {
        @include direct(column);
    }
    &__lbl {
        @include font($medium-text-size, $medium-text-bold);
    }
    &__itx {
        min-height: $large-text-size * 2 + 6px;
        padding: 3px;
        @extend %bottom-border;
        border-radius: $border-radius;
    }
    &__err {
        margin: 0;
        color: $error-color;
        @include font($small-text-size, $small-text-bold);
    }
    &__btn {
        margin-top: $medium-space;
        @extend %main-button;
    }
}
