@import '../../css/theme.scss';
@import '../../css/extends.scss';
@import '../../css/mixins.scss';

.cmp_itx {
    display: flex;
    flex-direction: column;    
    color: inherit;
    background: inherit;
    width: 100%;
    &__label {
        font-size: $medium-text-size;
        font-weight: $medium-text-bold;
    }
    &__input {       
        border-radius: $border-radius;
        background: none;
        margin: 0; 
        width: 100%;
        @extend %bottom-border;       
    }
    &__counter {
        font-size: $small-text-size;
        font-weight: $small-text-bold;
        margin: 0;
       
    }
    &__err {
        margin: 0;
        font-size: $small-text-size;
        font-weight: $small-text-bold;
        color: $error-color;
    }
    &-inp_inval { @include setBorder($error-color); }
    &-inp_val { @include setBorder($success-color); }
    &-cnt_inval {  color: $error-color; }
    &-cnt_val { color: $success-color; }
}
