@import '../../theme.scss';

#header_actions {
    .login_form {
        .button_submit {
            @extend %main-button;
        }
    }
    .logout {        
        display: flex;
        flex-direction: column;
        color: $on-primary-color;
        .user {
            background: $surface-color;
            color: $on-surface-color;
            border-radius: $border-radius;
            padding: $small-space;           
            .login {
                font-size: $large-text-size;
                font-weight: $large-text-bold;
                vertical-align: bottom;
                margin-left: $medium-space;
            }
        }
        .button_submit {            
            text-align: right; 
            margin: 0;
            padding: 0;  
            user-select: none;
            cursor: pointer;
            font-size: $small-text-size;
            font-weight: $small-text-bold;   
            .text {
                margin-left: $small-space;
            }  
        }
    }
    .registration {
        .show_modal {
            border: none;
            padding: 0;
            margin: 0;
            background: none;
            color: $on-primary-color;
            font-size: $medium-text-size;
            font-weight: $medium-text-bold;           
        }        
    }
}
#registryForm {          
    .show_password {
        border: none;
        height: 100%;
        background: none;
    }
}
