@import '../../theme.scss';

.cnt_header_actn {
    .hdr_act_login {
        display: flex;
        flex-direction: row;
        &__btn_submit {
            @extend %main-button;
        }
    }    
    .hdr_act_logout {        
        display: flex;
        flex-direction: column;
        color: $on-primary-color;
        &__user {
            background: $surface-color;
            color: $on-surface-color;
            border-radius: $border-radius;
            padding: $small-space;    
        }
        &__login {
            font-size: $large-text-size;
            font-weight: $large-text-bold;
            vertical-align: bottom;
            margin-left: $medium-space;
        }
        &__btn_submit {            
            text-align: right; 
            margin: 0;
            padding: 0;  
            user-select: none;
            cursor: pointer;
            font-size: $small-text-size;
            font-weight: $small-text-bold; 
        }
        &__btn_text {
            margin-left: $small-space;
        } 
    }
    
    .registration {
        .show_modal {
            border: none;
            padding: 0;
            margin: 0;
            background: none;
            color: $on-primary-color;
            font-size: $medium-text-size;
            font-weight: $medium-text-bold;           
        }        
    }
}
#registryForm {          
    .show_password {
        border: none;
        height: 100%;
        background: none;
    }
}
