@import '../../theme.scss';

@mixin setBorder($color) {
    border:1px solid $color;
}
@mixin setColor($color) {
    color:  $color;
}

.cmp_cst_textarea {
    display: flex;
    flex-direction: column;    
    color: inherit;
    background: inherit;
    width: 100%;
    &__label {
        font-size: $medium-text-size;
        font-weight: $medium-text-bold;
    }
    &__input {
        border: none;
        border-radius: $border-radius;
        background: none;
        margin: 0;        
    }
    &__counter {
        font-size: $small-text-size;
        font-weight: $small-text-bold;
        margin: 0;
       
    }
    &__error {
        margin: 0;
        font-size: $small-text-size;
        font-weight: $small-text-bold;
        color: $error-color;
    }
    &-inp_inval { @include setBorder($error-color); }
    &-inp_val { @include setBorder($success-color); }
    &-cnt_inval {  @include setColor($error-color); }
    &-cnt_val {@include setColor($success-color); }
}
