@import '../../theme.scss';

.header {    
    display: flex;   
    background: $primary-color;    
    color: $on-primary-color;
    padding: $global-padding;
    min-height: 90px;
    .logo {
        display: flex;
        align-self: flex-start;      
        padding: 5px 0;        
        font-size: 45px;
        font-weight: 600;
        &__text {
            margin-left: 5px;
        }
    }
    .actions {
        margin: auto 0 auto auto;
        align-self: flex-end;   
        padding: 5px 0;   
    }
}
