@import '../../theme.scss';

#header {    
    display: flex;   
    background: $primary-color;    
    color: $on-primary-color;
    padding: $global-padding;
    min-height: $header-height;
    margin-bottom: $large-space;
    .logo {
        display: flex;
        align-self: flex-start;      
        padding: $medium-space 0;        
        font-size: $logo-text-size;
        font-weight: $logo-text-weight;        
        .text {
            margin-left: $medium-space;  
        }
    }
    .actions {
        margin: auto 0 auto auto;
        align-self: flex-end;   
        padding: $medium-space 0;   
    }
}
