@import '../../../css/theme.scss';
@import '../../../css/mixins.scss';
@import '../../../css/extends.scss';

.cabinet {
    &__ac {
        @extend %main-card;
        @include direct(row);
        margin-bottom: $large-space;        
        padding: $medium-space;
    }
    &__tab {
        margin-right: $large-space;
        @include font($large-text-size, $large-text-bold);       
        &:hover {
            color: $primary-color;
        }   
    }
    &__tx {
        margin-left: $small-space;
    }  
}
