@import '../../css/theme.scss';
@import '../../css/extends.scss';
@import '../../css/mixins.scss';

.user_avatar {
    display: inline-block;
    @extend %avatar-size;
    background: $primary-color;
    color: $on-primary-color;
    @include font($avatar-text-size, $avatar-text-weight);
    &__avatar {
        @extend %avatar-size;
        display: flex;
    }
    &__tx {
        margin: auto;
        user-select: none;
    }
}
