@import '../../css/theme.scss';

%block-size {
    height: $avatar-height;
    width: $avatar-width;
    max-height: $avatar-height;
    max-width: $avatar-width;
    border-radius: $border-radius; 
}

.cmp_user_avatar {
    display: inline-block;
    @extend %block-size;
    background: $primary-color;
    color: $on-primary-color;    
    font-size: $avatar-text-size;
    font-weight: $avatar-text-weight;
    &__avatar {
        @extend %block-size;        
        display: flex;       
    }
    &__txt {
        margin: auto;
        user-select: none;
    }
}
