@import '../../theme.scss';

%block-size {
    height: $avatar-height;
    width: $avatar-width;
    max-height: $avatar-height;
    max-width: $avatar-width;
    border-radius: $border-radius; 
}

#user-avatar {
    display: inline-block;
    @extend %block-size;
    background: $primary-color;
    color: $on-primary-color;    
    font-size: $avatar-text-size;
    font-weight: $avatar-text-weight;
    .avatar {
        @extend %block-size;        
        display: flex;
        .text {
            margin: auto;
            user-select: none;
        }
    }
}
