@import '../../../../css/theme.scss';
@import '../../../../css/extends.scss';
@import '../../../../css/mixins.scss';

.cabinet_info {
    @extend %main-card;
    padding: $medium-space;
    &__btn {
        @extend %main-button;
        margin-bottom: $small-space;
    }
}

.avatar_loader {
    @include direct(column);
    margin-bottom: $medium-space;
    &__t {
        @include font($large-text-size, $large-text-bold);
    }
    &__upload {
        position: relative;
        display: inline-block;
        overflow: hidden;
        height: $avatar-height;
        width: $avatar-width;
        @extend %clickable;
        &:hover .avatar_loader__act {
            opacity: 0.7;
        }
    }
    &__act {
        display: flex;
        @extend %patch-type;
        background: black;
        color: white;
        border-radius: $border-radius;
        @extend %clickable;
    }
    &__icon {
        margin: auto;
    }
    &__file {
        @extend %patch-type;
        @extend %clickable;
    }
    &__warn {
        color: desaturate($on-surface-color, 70%);
        @include font($small-text-size, $small-text-bold);
    }
    &__err {
        color: $error-color;
        @include font($small-text-size, $small-text-thin);
    }
    &-err {
        border: 1px solid $error-color;
        border-radius: $border-radius;
    }
}
